* {
    margin:0;
    padding:0;
}

html {
  scroll-behavior: smooth;
}

body {
    background-image: url("bgsneaker.jpeg");
    background-position: top center;
    margin:auto;
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
  }

.background { 
    width: 960px;
    margin:auto; 
    background-color: white; 
    height: 1600px;
    font-size: 0%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.mainvid{
    width: 100%;
    height: 450px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/***************
******NAV*******
***************/

nav{
  background-color: black;
  color: azure;
  font-size: 18px;
  text-align: left;
  
}

nav li{
  box-sizing: border-box;
  display: inline-block;
  padding: 12px;
  cursor: pointer;
}

nav li:hover{
  background-color: lightgray;
}

.dropdown{
  position: relative;
}

.dropdown-content{
  position: absolute;
  top: 100%;
  left: 0;
  text-align: 100%;
  display: none;
}

.dropdown-content li{
  background-color: black;
  width: 100%;
} 

.dropdown:hover .dropdown-content{
  display: block;
}


/***************
******MAIN******
***************/

main{
  height: auto;
  margin: 0 auto;
}

main p{
  font-size: 20px;
  color: black;
  text-align: left;        /*(Treba na to spravit osobitnu classu lebo to rozhodi ostatne stranky)*/
  font-family: inherit;
}
main h1{
  font-size: 50px;
  text-align: center;
  padding: 12px 16px;
  
}
*/

main iframe{
  display: block;
  margin: 0 auto;
  
}


/*************
****PRODUKT***
**************/


.produkt img{
  width:50%; 
  height:50%;
  /*border:5px solid gray;*/
  margin-left:25px;
  margin-top:25px;
  float:left;
}

.produkt p{
  color: black;
  font-family: inherit;
  margin-top: 25px;
}



.produkt h1{
  font-size: 35px;
  margin-top: 20px;
  margin-right: 65px;
  margin-bottom: 40px;
  float:right;
  text-align: center;
  
}

.produkt .info{
  font-size: 20px;
  margin-right: 25px;
  float: right;
}

.produkt .info h2{
  color: red;
  float: left;
  font-size: 25px;
  font-family: 'Alata', sans-serif;
  
}

.velkosti {
  position: relative;
  display: inline-block;
}

.velkosti-obsah {
  display: none;
  position: absolute;
  /*background-color: rgba(249, 249, 249, 0.2);*/
  background-color: cornsilk;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.velkosti:hover .velkosti-obsah {
  display: block;
}

.velkosti span:hover {
  background-color: gray;
}

.velkosti .velkosti-obsah ul {
  list-style-type: none;
  cursor: pointer;
}

.velkosti .velkosti-obsah ul li img {
  width: 20px;
  height: 20px;
  float: right;
  background-color: rgba(249, 249, 249, 0.2);
  border: none;
  margin-top: 3px;
}

.velkosti .velkosti-obsah ul li:hover, .velkosti-obsah ul li:hover img {
  background-color: #D3D3D3;
}


.popis_produktu {
  clear: both;
}

.popis_produktu h2 {
  font-size: 25px;
  margin-top: 25px;
  margin-left: 25px;
}

.popis_produktu p {
  color: black;
  font-family: inherit;
  font-size: 20px;
  margin-left: 25px;
  margin-right: 25px;
}




/***************
******FOOTER****
***************/

footer{
  position: fixed;
  bottom: 0;
  width: 960px;
  height: auto;
  background-color: black;
  font-size: 16px;
  line-height: 30px;
}

footer p {
  color: white;
  text-align: center;
}

footer p a {
  color: white;
  text-decoration: none;
}
